body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

header {
  /* Image pulled from https://www.dalipaintings.com/melting-watch.jsp */
  background-image: url("./Images/the-melting-watch.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  text-align: center;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.display-3 {
  text-shadow: 2px 2px rgba(188, 159, 11, 0.669);
}

#subHeader {
  color: rgba(188, 159, 11);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.669);
  font-size: 26px;
}

.lead {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-style: italic;
}

.timeBox {
  margin: auto;
  margin-top: 38px;
  padding-top: 10px;
  border-width: 3px;
  border-style: solid;
  border-radius: 5px;
  background-color: hsl(160, 100%, 75%, 50%);
  text-shadow: 1px 1px #ffffff9c;
  width: 50vw;
}

#currentDay {
  font-size: 26px;
}

#currentDate {
  font-size: 20px;
}

#headerClock {
  font-size: 38px;
}

.description{
  white-space: pre-wrap;
}

.container {
  width: 100vw;
}

.hourRow{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.eventBox {
  text-align: left;
}

.thisHour {
  height: 80px;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  height: 80px;
  width: 80px;
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  transition: all .3s ease-in-out;
}

.saveBtn:hover {
  font-size: 20px;
  background-color: #28c6e9;
  text-shadow: 2px 4px rgb(0, 0, 0, 0.5);
}
